.filter-menu{
    min-height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin:20px 0;
    font-family: 'Bree Serif', serif;
}
.filter-menu select,input{
    height: 40px;
    border: 1px solid #91C355;
    outline: none;
    padding:0 5px;
}
.filter-menu input{
    flex:1;
    margin:0 10px

}
.load-more{
    text-align: center;
}

.load-more button{
    padding:10px 25px;
    margin-bottom: 20px;
    border:1px solid black;
    text-transform: uppercase;
}