.categories{
    max-width:700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:30px auto;
    background-color: #FAF9F8;
   

}
.categories form{
    width: 200px;
    margin-bottom: 20px;
}

.categories label{
    display: block;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: 'Bree Serif', serif;
}
.categories input{
    width: 210px;
    margin-bottom: 10px;
}

.categories button{
    color: black;
    font-family: 'Bree Serif', serif;

}

.categories input{
    height: 35px;
    border: none;
    outline: none;
    border-bottom: 1px solid #555;
    background-color: #FAF9F8;
}

.categories .row{
    min-width: 290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #FAF9F8;;
}
