.profile-container {
    width: 80%;
    margin: 2rem auto;
    padding: 2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.profile-details {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Allows content to wrap if there's not enough space */
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 2rem;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-data p {
    margin-bottom: 1rem;
    flex: 1; /* Allows paragraphs to grow and take available space */
}

.user-actions {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap; /* Wrap action links on smaller screens */
    gap: 1rem;
}

.user-actions a {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.2s;
    text-align: center; /* Ensures text is centered especially when stacked */
    flex: 1; /* Allows buttons to take full width on smaller screens */
}

.user-actions a:hover {
    background-color: #555;
}

/* Tablet adjustments */
@media (max-width: 768px) {
    .profile-details {
        flex-direction: column; /* Stack content vertically on tablets */
        align-items: start; 
    }

    .avatar {
        margin-right: 0;
        margin-bottom: 2rem;
    }
}

/* Mobile adjustments */
@media (max-width: 480px) {
    .profile-container {
        width: 95%; /* Increase width to almost full screen on mobile */
        padding: 1rem;
    }

    .user-data p {
        font-size: 1.1rem; /* Slightly larger font for readability */
    }

    .user-actions a {
        padding: 0.7rem 1rem; /* Slightly larger padding for better touch targets */
        margin-bottom: 0.5rem; /* Space out the links a bit more */
    }
}
