.login {
    background-color: #FAF9F8;
}


.login-page{
    max-width: 500px;
    width: 100%; /* To ensure the container fits the screen on mobile devices */
    height: 300px; /* let it adjust its height */
    padding: 10px 5%; /* Reduce padding on smaller screens */
    border-radius: 7px;
    background-color: #FAF9F8;
    box-sizing: border-box; /* To include padding in total width */
}


.login-page h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
    text-align: center;
    font-family: 'Bree Serif', serif;
    background-color: #FAF9F8;


}
.login-page form input,
.login-page form button{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding:2 5px 0px;
    outline:#91C355;
    border: 1px solid #91C355;
}

.login-page form .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-page form button{
    width: 150px;
    background: #91C355;
    color:whitesmoke;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.login-page form a{
    color:black;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    font-family: 'Bree Serif', serif;
}