.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #001624; 
    padding: 20px 40px;
    font-family: 'Arial', sans-serif;
    color: white;
}

.footer img {
    max-width: 100px;
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 6vh;
}

.footer p {
    max-width: 400px;
    color: white;
    line-height: 1.5;
}

.footer-item {
    flex: 1;
    padding: 0 10px;
}

.footer-item h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: white;
}

.footer-item li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-item a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
    padding: 2px 0;
    display: block;
}

.footer-item a:hover {
    color: #91C355; 
    border-bottom: 2px solid #91C355;
}

/* Mobile Small */
@media (max-width: 480px) {
    .footer {
        flex-direction: column;
        align-items: center;
        padding: 10px; 
    }

    .footer img {
        margin-bottom: 10px;
    }

    .footer-item {
        margin: 15px 0;
        text-align: center;
    }

    .footer p {
        text-align: center;
        margin: 0 5px;
    }
}

/* Mobile Large */
@media (min-width: 481px) and (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .footer img {
        margin-bottom: 15px;
    }

    .footer-item {
        margin: 20px 0;
        text-align: center;
    }

    .footer p {
        text-align: center;
        margin: 0 10px;
    }
}

/* Tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    .footer {
        padding: 20px;
    }

    .footer img {
        margin: 0 15px;
    }

    .footer-item {
        margin: 10px;
    }
}
