/* CSS */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 3%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #FAF9F8;
}
.container-item {
    flex: 1; /* This will allow the div items to grow and shrink */
    min-width: 200px; /* Set a minimum width for the div items */
    width: 100px;
    background-color: white;
    border: solid 1px white;
    margin: 1%;
    


    
}


.container-item h4{
   padding-bottom: 10%;
   font-size: 25px;
}

.container-item img {
    width: 100%;
}


/* Media Query for smaller screens */
@media (max-width: 768px) {
    .container-item {
        flex-basis: 100%; /* This will make the div items take the full width on smaller screens */
        min-width: auto; /* Reset the minimum width for the div items */
    }
}
